:root {
	--basicAnimationDuration: 0s;
	--basicFontsize: 1rem;
	--rulesScrollHeight: 0;
}
* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	background: linear-gradient(135deg, #cb8500, purple);
}

.container {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 70px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 0px;
}

.game {
	display: flex;
	height: 400px;
	position: relative;

	&__action {
		font-size: 0.9rem;
		cursor: pointer;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		text-transform: uppercase;
		background: whitesmoke;
		box-shadow: 0px 0px 5px 0px;
		padding: 0.5em;
		border-radius: 20px;
		color: black;
		background: rgba(255, 255, 255, 0.9);
		transition: all var(--basicAnimationDuration) ease;
	}

	&__action--new-game {
		top: 5%;
	}
	&__action--rules {
		top: 14%;
	}
	&__action--roll {
		top: 75%;
	}
	&__action--hold {
		top: 86%;
	}

	&__player {
		width: 50%;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.2);
		transition: all var(--basicAnimationDuration) ease;
	}

	&__player--active {
		background: rgba(255, 255, 255, 0.5);
	}

	&__player--passive {
		background: rgba(0, 0, 0, 0.1);
	}

	&__dice {
		transition: all var(--basicAnimationDuration) ease;
		position: absolute;
		background: white;
		border-radius: 5px;
		height: 50px;
		width: 50px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -70%);
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 0px 5px 0px;
		background: rgba(255, 255, 255, 0.9);
	}

	&__dice-number {
		font-size: 1.5rem;
		color: red;
		display: inline-block;
	}

	&__player + .player {
		border-left: 1px solid black;
	}

	&__player-stats {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 2rem;
		text-transform: uppercase;
		position: relative;
	}

	&__current-stats {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		grid-row: 3;
		background: purple;
		padding: 1em 3em;
		border-radius: 5px;
		color: white;
		text-transform: uppercase;
		box-shadow: 0px 0px 5px 0px black;
	}

	&__add-to-current-roll {
		position: absolute;
		bottom: 16px;
		left: 107px;
		color: greenyellow;
		opacity: 0;
		font-size: calc(var(--basicFontsize) * 2);
	}

	&__add-to-current--animation {
		animation: move-up-current calc(var(--basicAnimationDuration) * 1.3)
			ease-in-out both;
		/* animation: move-up-current var(--basicAnimationDuration) ease-in-out both; */
	}

	@keyframes move-up-current {
		from {
			opacity: 1;
			bottom: 16px;
		}
		to {
			opacity: 0;
			bottom: 144px;
		}
	}

	&__add-to-total {
		position: absolute;
		bottom: 0;
		right: 0px;
		color: greenyellow;
		opacity: 0;
	}

	&__add-to-total--animation {
		animation: move-up-total calc(var(--basicAnimationDuration) * 1.3)
			ease-in-out both;
	}

	@keyframes move-up-total {
		from {
			bottom: 0%;
			opacity: 1;
		}
		to {
			bottom: 100%;
			opacity: 0;
		}
	}

	.hide {
		opacity: 0;
	}

	&__dice-number {
		display: inline-block;
		transition: all var(--basicAnimationDuration) ease;
	}

	.disabled {
		pointer-events: none;
		opacity: 0.6;
	}

	.rolling {
		animation: rotate-center var(--basicAnimationDuration) ease-in-out both;
	}

	.shake {
		animation: shake var(--basicAnimationDuration) ease-in-out both;
	}

	@keyframes shake {
		0% {
			transform: translate(-30%, -70%);
		}
		25% {
			transform: translate(-70%, -70%);
		}
		50% {
			transform: translate(-30%, -70%);
		}
		75% {
			transform: translate(-70%, -70%);
		}
		100% {
			transform: translate(-50%, -70%);
		}
	}

	@keyframes rotate-center {
		0% {
			transform: translate(-50%, -70%) rotate(0);
		}
		100% {
			transform: translate(-50%, -70%) rotate(360deg);
		}
	}
}

.line-break {
	width: 100%;
}

.modal {
	position: absolute;
	top: 20%;
	border-radius: 10px;
	border: 1px solid black;
	background: linear-gradient(165deg, #deafaf, #6f3434);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	padding: 2em 5em;
	z-index: 2;
	display: none;
}

.modal--show {
	display: block;
}

.modal__heading {
	margin: 0 0 1em 0;
}

.modal__input-container {
	display: flex;
	padding: 0.5em 1em 0;
	margin-bottom: 1em;
	align-items: center;
}

.modal__label {
	font-weight: bold;
}

.modal__input {
	flex: 1;
	padding: 0.3em 0.5em;
	margin-left: 1em;
	border-radius: 5px;
	overflow: hidden;
	border: none;
	outline: none;
	/* width: 60%; */
}

.modal__input--bad {
	animation: bad-input 0.5s ease-in-out both;
}

@keyframes bad-input {
	0% {
		transform: translateX(-10%);
	}
	25% {
		transform: translateX(+10%);
	}
	50% {
		transform: translateX(-10%);
	}
	75% {
		transform: translateX(+10%);
	}
	100% {
		transform: translateX(0%);
	}
}

.modal__btn {
	padding: 0.3em 1em;
	margin-left: 0.3em;
	border-radius: 5px;
	overflow: hidden;
	/* display: inline-block; */
	align-self: flex-start;
	background: white;
	cursor: pointer;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}

.overlay--show {
	display: block;
}

.rules {
	// display: flex;
	// flex-direction: column;
	max-height: 0px;
	// height: 0px;
	background: rgba(255, 255, 255, 0.3);
	// justify-content: center;
	transition: all 0.5s cubic-bezier(0.5, 0.5, 1, 1);
	overflow: hidden;

	&--show {
		max-height: var(--rulesScrollHeight);
	}

	&__heading {
		text-align: center;
		margin-bottom: 0;
	}

	&__list {
		padding: 0 3em;
	}

	&__item {
		line-height: 1.5em;
	}

	&__important {
		font-weight: bold;
	}

	&__text {
		margin-left: 0.1em;
	}
}
