<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div class="container">
			<div class="game">
				<span class="game__action game__action--new-game">New Game</span>
				<span class="game__action game__action--rules">Rules</span>

				<div class="game__player game__player--active">
					<div class="game__player-stats">
						<h3 class="game__player-title">Player 1</h3>
						<span class="game__total">0</span>
						<span class="game__add-to-total"></span>
					</div>
					<div class="game__current-stats">
						<span class="game__current-text">Current</span>
						<span class="game__current-roll">0</span>
						<span class="game__add-to-current-roll"></span>
					</div>
				</div>
				<div class="game__player game__player--passive">
					<div class="game__player-stats">
						<h3 class="game__player-title">Player 2</h3>
						<span class="game__total">0</span>
						<span class="game__add-to-total"></span>
					</div>
					<div class="game__current-stats">
						<span class="game__current-text">Current</span>
						<span class="game__current-roll">0</span>
						<span class="game__add-to-current-roll"></span>
					</div>
				</div>
				<span class="game__dice hide">
					<span class="game__dice-number"></span>
				</span>
				<span class="game__action game__action--roll disabled">Roll Dice</span>
				<span class="game__action game__action--hold disabled">Hold</span>
			</div>
			<div class="modal">
				<h3 class="modal__heading">New Game</h3>
				<div class="modal__input-container">
					<label class="modal__label" for="player-1">Player 1</label>
					<input class="modal__input" type="text" name="player-1" />
				</div>
				<div class="modal__input-container">
					<label class="modal__label" for="player-2">Player 2</label>
					<input class="modal__input" type="text" name="player-2" />
				</div>
				<div class="line-break"></div>
				<span class="modal__btn modal__btn--start">Start</span>
			</div>
			<div class="overlay"></div>
			<div class="rules">
				<h2 class="rules__heading">Rules:</h2>
				<ul class="rules__list">
					<li class="rules__item">
						<span class="rules__important">Roll Dice: </span
						><span class="rules__text">
							As long as you don't roll a 1 all previous dice numbers are added
							to your current score. Otherwise your current score is reset to 0
							and your turn is over.
						</span>
					</li>
					<li class="rules__item">
						<span class="rules__important">Hold: </span>
						<span class="rules__text">
							"Hold" adds your current score to your total score and resets
							current score to 0 and your turn ends
						</span>
					</li>
					<li class="rules__item">
						<span class="rules__important">Win: </span>
						<span class="rules__text">Hit more than 100</span>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
